#content .author-pagination > li > a {
    padding: 4px 11px;
}

a {
    overflow-x: hidden;
}

.breadcrumb {
    white-space: nowrap;
}

#book-content {
    float: none;
}

#content {
    min-width: 620px;
}

.btn em {
    text-transform: none;
    font-size: 11px;
}

body {
    background-color: grey;
}

.container {
    background-color: rgb(245, 245, 245);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.75);
    margin-bottom: 20px;
}

header {
    text-align: center;
}

hr {
    border-color: lightgray;
}

#search-str {
    float: right;
}

#left-menu a {
    font-size: 11px;
}

header {
    font-size: 36px;
}

h1 {
    font-size: 25px;
    text-align: center;
}
