{% extends app.request.isXmlHttpRequest ? 'AppBundle::ajax.html.twig' : 'AppBundle::layout.html.twig' %}

{% block keywords %}
  {{ [parent(), 'Категории']|join(', ') }}
{% endblock %}

{% block title %}
  {{ ['Библиотека художественной литературы', 'Категории']|join(' - ') }}
{% endblock %}

  {% block breadcrumbs %}
    {% include 'AppBundle:Template:breadcrumb.html.twig' with {links: {
    'Библиотека': '/',
    ('Категории') : ''
    }} %}
  {% endblock breadcrumbs %}


{% block content %}
  <menu id="center-menu" class="row">
      {% for category in categories %}
        <div
            class="btn-group-vertical col-lg-6 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12">
          <a href="{{ path('category_name', {slug: category.slug}) }}"
             class="btn btn-default">{{ category.name }}</a>
        </div>
      {% endfor %}
  </menu>
{% endblock %}