{% extends app.request.isXmlHttpRequest ? 'AppBundle::ajax.html.twig' : 'AppBundle::layout.html.twig' %}

{% block description %}{{ 'Читать на мобильном книги автора ' ~ author.name ~ ' бесплатно' }}{% endblock %}

{% block keywords %}
  {{ [parent(), 'Авторы', author.name]|join(', ') }}
{% endblock %}

{% block title %}
  {{ [author.name, 'Авторы', 'hudlit.info - Бесплатно читать книги онлайн без регистрации на мобильном']|join(' - ') }}
{% endblock %}

  {% block breadcrumbs %}
    {% include 'AppBundle:Template:breadcrumb.html.twig' with {links: {
    'Библиотека': '/',
    'Авторы': path('author'),
    ('Авторы на ' ~ author.name|slice(0,1)|capitalize ) : path('author_letter', {letter: author.name|slice(0,1)|capitalize}),
    (author.name):''
    }} %}
  {% endblock breadcrumbs %}

{% block content %}
  <h1>{{ author.name }}</h1>
  <nav id="center-menu" class="row">
    {% for book in author.books %}
      <div class="btn-group-vertical col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <a lang="ru" class="btn btn-default" href="{{ path('book', {slug: book.slug}) }}"
            >{{ book.name }}</a>
      </div>
    {% endfor %}
  </nav>

{% endblock %}