#content .pagination-div li > a {
    padding: 4px 11px;
}

a {
    overflow-x: hidden;
}

.breadcrumb {
    white-space: nowrap;
    overflow-x: hidden;
}

#book-content {
    float: none;
}

#book-content pre {
    display: inline-block;
    padding: 20px;
}

.container-text {
    min-width: 615px;
}

.container-fluid, .pagination-div {
    text-align: center;
}

.pagination {
    margin: inherit;
}

.btn em {
    text-transform: none;
    font-size: 11px;
}

body {
    background-color: grey;
}

.container {
    background-color: rgb(245, 245, 245);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.75);
    margin-bottom: 20px;
}

header {
    text-align: center;
    font-size: 36px;
}

@media (max-width: 800px) {
    header {
        font-size: 30px;
    }
    h1 {
        font-size: 20px;
    }
    hr {
        display: none;
    }
    .breadcrumb {
        margin-bottom: 0;
    }
}

hr {
    border-color: lightgray;
}

#search-str {
    float: right;
}

#left-menu a {
    font-size: 11px;
}

h1 {
    font-size: 25px;
    text-align: center;
}

.container .navbar {
    float: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin-bottom: inherit;
}

#center-menu {
    -webkit-padding-start: 5px;
}

.select2-results .select2-result-label {
    white-space: nowrap;
}

.select2-chosen {
    white-space: nowrap;
}