<ul class="breadcrumb">
  {% for key, link in links %}
    {% if link == links|last %}
      <li class="active">{{ key }}</li>
    {% else %}
      <li><a href="{{ link }}">{{ key }}</a></li>
    {% endif %}
  {% endfor %}
</ul>